html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0px 32px;
    font-family: sans-serif;
    font-size: 16px;
}

h2 {
    font-family: monospace;
    font-size: 20px;
}
h1, h2 {
    text-align: center;
}

p {
    text-indent: 32px;
    line-height: 20px;
}